<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Spring Recipes</h2>

<table>
    <tr th:each="recipe: ${recipes}">
        <div class="recipe-details">
            <div class="recipe-category" th:text="${recipe.getCategory()?.getName()}">Category</div>
            <img class="recipe-icon" th:src="@{/img/KnifeAndFork.png}">
            <div class="recipe-name" th:text="${recipe.getName()}">Recipe Name</div>
            <div recipe-sub-details>
                <div class="prep-time" th:text="${recipe.getPrepTime()}">prep</div>
                <div class="cook-time" th:text="${recipe.getCookTime()}">cook</div>
            </div>
        </div>
    </tr>
</table>


</body>
</html>